@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px; 
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25rem;
  }
  .slider-item {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Optional: set a maximum width */
  }
  
  